# IDE
.idea

# Application
.env.*
!data/sample_log.txt
/data

# Symfony
/var/
/vendor/

# PHP-cs-fixer
.php-cs-fixer.php
.php-cs-fixer.cache
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
